<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>Reset Your Password</h1>
    <form method="POST" action="{{ url_for('reset_token', token=token) }}">
        {{ form.hidden_tag() }}
        <div>{{ form.password.label }} {{ form.password(size=32) }}</div>
        <div>{{ form.confirm_password.label }} {{ form.confirm_password(size=32) }}</div>
        <div>{{ form.submit() }}</div>
    </form>
</body>
</html>
